@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700&family=Barlow+Condensed:wght@200;400;700&family=Bellefair&display=swap");

:root {
  --primary-text-color: white;
  --secondary-text-color: rgba(11, 13, 23, 1);
  --font-bellefair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --nav-background: rgba(255, 255, 255, 0.096);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-barlow-condensed);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-container {
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.bg-container img {
  width: inherit;
  height: inherit;
}

.mobile-bg {
  display: block;
}

.tablet-bg {
  display: none;
}

.desktop-bg {
  display: none;
}

.home-container {
  width: 100%;
  z-index: 9;
  position: absolute;
  top: 0;
}

.header {
  height: 88px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.hamburger-icon {
  font-size: 40px;
  color: var(--primary-text-color);
}

.tablet-nav-bar {
  display: none;
}

.main-body {
  display: flex;
  justify-content: center;
}

.main-body > div {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14rem;
  margin-top: 1rem;
  color: var(--primary-text-color);
}

.heading-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.heading1 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 15%;
  font-weight: 200;
}

.heading2 {
  font-family: var(--font-bellefair);
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-text {
  font-family: var(--font-barlow);
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  line-height: 2;
}

.explore-btn {
  width: 144px;
  height: 144px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-text-color);
  font-family: var(--font-bellefair);
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* Tablet Styles */
@media (min-width: 768px) {
  .mobile-bg {
    display: none;
  }

  .tablet-bg {
    display: block;
  }

  .desktop-bg {
    display: none;
  }

  .home-container {
    top: 0;
  }

  .header {
    height: 96px;
    padding-left: 2rem;
    padding-right: 0;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .hamburger-icon {
    display: none;
  }

  .tablet-nav-bar {
    width: 88%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3.7rem;
    padding-right: 1rem;
    color: var(--primary-text-color);
    background: var(--nav-background);
    list-style-type: none;
  }

  .tablet-nav-bar li {
    font-size: 16px;
    letter-spacing: 2px;
    font-family: var(--font-barlow-condensed);
    text-transform: uppercase;
  }

  .tablet-nav-bar li::after {
    content: " ";
    display: flex;
    gap: 3.7rem;
    position: relative;
    top: 2.2rem;
    width: 100%;
    height: 4px;
    background: var(--primary-text-color);
  }

  .tablet-nav-bar li span {
    font: 600;
  }

  .main-body > div {
    width: 688px;
    gap: 4rem;
    margin-top: 6rem;
  }

  .heading-text-content {
    width: 512px;
  }

  .heading1 {
    font-size: 28px;
    letter-spacing: 4px;
  }

  .heading2 {
    font-size: 144px;
  }

  .hero-text {
    font-size: 16px;
  }

  .explore-btn {
    width: 272px;
    height: 272px;
    font-size: 32px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .mobile-bg {
    display: none;
  }

  .tablet-bg {
    display: none;
  }

  .desktop-bg {
    display: block;
  }

  .hamburger-icon {
    display: none;
  }
}
